<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Account Information</title>
</head>
<body>
<h1>Account <span th:text="${account.name}">Toys</span></h1>
<p>USD Balance: $<span th:text="${account.balance}">100</span></p>
<p>GBP Balance: £<span th:text="${account.gbpBalance}">80</span></p>
</body>
</html>