<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Accounts</title>
</head>
<body>
<table>
  <tr>
    <th>Account Name</th>
    <th>Balance</th>
  </tr>
  <tr th:each="account: ${accounts}">
    <td>
      <a th:href="@{/account/__${account.id}__}" th:text="${account.name}">Fun Stuff</a>
    </td>
    <td th:text="${account.balance}">99</td>
  </tr>
</table>
</body>
</html>
